MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=survivex
MYSQL_USER=survivex
MYSQL_PASSWORD=survivex

SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/survivex?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Kolkata
SPRING_DATASOURCE_USERNAME=survivex
SPRING_DATASOURCE_PASSWORD=survivex

CLOUDINARY_CLOUD_NAME=dsahysy1w
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=JBFqnCBsd6RMkjVDRZzb
ELEVENLABS_MODEL_ID=eleven_multilingual_v2

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
