backend/target/
frontend/dist/
frontend/node_modules/
.expo/
.DS_Store
backend/SurviveX_WEBGL/

backend/survivex-backend-eb.zip
backend/backend-0.0.1-SNAPSHOT.jar
backend/target/
backend/survivex-backend-eb.zip
backend/backend-0.0.1-SNAPSHOT.jar
backend/target/
welcome-to-docker

backend/survivex-backend-eb.zip
backend/backend-0.0.1-SNAPSHOT.jar
backend/target/
welcome-to-docker

backend/SurviveX_WEBGL2/Build/
backend/SurviveX_WEBGL4/Build/
backend/SurviveX_WEBGL8/Build/
backend/SurviveX_WEBGL9/Build/
backend/*.zip
backend/*.jar
backend/target/

backend/SurviveX_WEBGL2/Build/
backend/SurviveX_WEBGL4/Build/
backend/SurviveX_WEBGL8/Build/
backend/SurviveX_WEBGL9/Build/
backend/*.zip
backend/*.jar
backend/target/
